<footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Skilltern Blogs</h5>
                <p class="grey-text text-lighten-4">SkillTern is an online platform that provides live courses on various topics. It offers various courses which include android development, embedded system, analog design, web development. It also provides internship opportunities for students in partnered companies.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Copyright Skilltern
            <a class="grey-text text-lighten-4 right" href="#!">Created By Utkarsh</a>
            </div>
          </div>
        </footer>